// // $topnav-background-color: rgb(7, 9, 139);
// :host {
//     .navbar {
//         // background-color: $topnav-background-color;
//         .navbar-brand {
//             color: #fff;
//         }
//         .nav-item > a {
//             color: #eee;
//             &:hover {
//                 color: #fff;
//             }
//         }
//         .user-menu{
//             min-width: 200px;
//             text-align: right;
//         }
//         .user-menu>a{
//             overflow-x: hidden;
//         }
//     }
//     .notification{
//         width: 100px;
//     }
//     .messages {
//         width: 300px;
//         .media {
//             border-bottom: 1px solid #ddd;
//             padding: 5px 10px;
//             &:last-child {
//                 border-bottom: none;
//             }
//         }
//         .media-body {
//             h5 {
//                 font-size: 13px;
//                 font-weight: 600;
//             }
//             .small {
//                 margin: 0;
//             }
//             .last {
//                 font-size: 12px;
//                 margin: 0;
//             }
//         }
//     }
// }

// .contenido {
//     overflow:hidden;
//     white-space:nowrap;
//     text-overflow: ellipsis;
// }

// .notificacion {
//     padding-top: 10px;
//     background-color: none;
//     text-decoration: none;
//     // position: relative;
//     display: inline-block;
//     border-radius: 2px;
//   }
  
//   .notificacion .badge {
//     position: absolute;
//     top: 5px;
//     right: 15px;
//     padding: 2px;
//   }

//   .btn_retro{
//     margin-left: 680px;
// }
// .btn_msg{
//   margin-left: 0px;
// }
// .btn_name{
//   margin-top: 0px;
// }
// .collapses{
//     display: contents;
// }

//   @media only screen and (max-width: 768px) {
//     .btn_retro{
//         margin-top: -31px;
//         margin-left: -50px;
//     }
//     .btn_msg{
//         margin-left: -5px;
//         margin-top: -42px;
//   }
//   .btn_name{
//     margin-top: -44px;
// }
// .notificacion .badge {
//     position: absolute;
//     top: 1px;
//     right: 235px;
//     padding: 2px;
//   }
//   .dropdown-menu{
//       position: absolute;
//   }
// }



// $topnav-background-color: rgb(7, 9, 139);
:host {
    .navbar {
        // background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #eee;
            &:hover {
                color: #fff;
            }
        }
        .user-menu{
            min-width: 200px;
            text-align: right;
        }
        .user-menu>a{
            overflow-x: hidden;
        }
    }
    .notification{
        width: 100px;

    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.contenido {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}