<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
    <button class="btn btn-success" [routerLink]="['../nuevo']">Agregar descuento</button><br><br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Clave</th>
        <th>Código de promoción</th>
        <th>Descripción</th>
        <th>Descuento</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Edita</th>
        <th>Elimina</th>
      </tr>
      <tr *ngFor="let descuento of descuentos; let i = index">
        <td>{{descuento.clave}}</td>
        <td>{{descuento.codigo_promocion}}</td>
        <td>{{descuento.descripcion}}</td>
        <td *ngIf="descuento.valor == 2" class="text-center">{{descuento.descuento}}%</td>
        <td *ngIf="descuento.valor == 1" class="text-center">${{descuento.descuento}}</td>
        <td>{{descuento.fecha_inicio | date: "dd/MM/yyyy"}}</td>
        <td>{{descuento.fecha_fin | date: "dd/MM/yyyy"}}</td>
        <td class="text-center"><a [routerLink]="['../edita/'+descuento.descuento_id]" class="btn btn-info"><i class="fa fa-pencil"></i></a></td>
        <td class="text-center"><button class="btn btn-danger" (click)="elimina(descuento.descuento_id, i)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
      </tr>
    </table>
  </div>
</div>