
<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>  
  </div>
  <div class="col-md-12 editar-ciclo"> 
    <form  [formGroup]="solicitudForm" (ngSubmit)="enviarInformacion()">
  <div class="row">
      <div class="col-12">  
        <div *ngIf="!buscarAlumno" class="form-group">                               
          <label class="control-label" for="">Alumno:</label>
          <div class="input-group">
            <div class="input-group-preppend">
              <button class="btn btn-outline-secondary" (click) ="buscarAlumno = true;" type="button"><i class="fa fa-search"></i></button>
            </div>
            <input class="form-control" [value]="nombreAlumno" placeholder="Da clic en el botón de buscar" disabled>
          </div>
          
        </div>             
        <app-buscador-persona  *ngIf="buscarAlumno" [idRol]="idRol" (consultaExitosa)="alumnoSeleccionado($event)"></app-buscador-persona>


      </div>
  </div>
  <div class="row">
    <div class="col-12 " *ngIf="errorSuscripcion"> 
      <div class="alert alert-danger">
        {{msgErrorSuscripcion}} 
        <a  *ngIf="codigoErrorSuscripcion == 1" [routerLink]="['/admin/pagos-alumno/suscripcion/'+idAlumno+'/1']" class="btn btn-info" > Agregar plan de pagos </a>
        <a  *ngIf="codigoErrorSuscripcion == 2"  [routerLink]="['/admin/suscripcion/generar-pago/'+idErrorSuscripcion]" class="btn btn-info" > Ir a configuración </a>

      </div>
    </div>
  <div class="col-12">
    <div class="form-group mb-2">
      <label class="control-label">Pago:</label>
   
      <select class="form-control" formControlName="idPago" (change)="seleccionarPago($event)" >
        <option value="" hidden disabled selected>Selecciona una opción</option>
        <option [value]="_suscripcionPago.pago_id" 
          *ngFor="let _suscripcionPago of suscripcionPago; let i = index;">
          {{_suscripcionPago.nombre_pago}}
        </option>
      </select>
    </div>
  </div>

  </div>
  <div class="row" *ngIf="selectedSuscripcionPago">
  <div class="col-6">
    <div class="form-group">                               
      <label class="control-label" for="beca">Monto <span *ngIf="selectedSuscripcionPago.beca > 0"> 
        ( Beca   <span *ngIf="selectedSuscripcionPago.valor_beca == 1"> $ </span>
        {{selectedSuscripcionPago.beca}}
        <span *ngIf="selectedSuscripcionPago.valor_beca == 2"> % </span>) </span>  </label>
      <input formControlName="monto" class="form-control" id="monto" placeholder="Monto final" type="number" required>
      <span class="invalidText" *ngIf="f.monto.invalid && f.monto.touched">
        {{'fmErrNumber' | translate}}
      </span>
    </div> 
    
  </div>
  <div class="col-6">
    <div class="form-group " rel="1">
      <label class="control-label" for="">Descuento:</label>
      <select  formControlName="idDescuento"  class="form-control"  (change)="aplicaDescuento($event)" >
        <option hidden value="" disabled  selected>{{'fmOptSelect' | translate}} </option>
        <option  [value]="descuento.descuento_id" *ngFor="let descuento of descuentos">{{descuento.descripcion}}
          (<span *ngIf="descuento.valor == 1"> $ </span>
          {{descuento.descuento}}
          <span *ngIf="descuento.valor == 2"> % </span>)
        </option>
      </select>
      <span class="invalidText" *ngIf="f.idDescuento.invalid && f.idDescuento.touched">
        {{'fmErrSelect' | translate}}
      </span>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group " rel="1">
      <label class="control-label" for="">Estatus del pago:</label>
      <select  formControlName="idEstatusSolicitudPago"  class="form-control"  >
        <option hidden value="" disabled  selected>{{'fmOptSelect' | translate}} </option>
        <option  [value]="_estatusSolicitudPago.estatus_solicitud_pago_id" *ngFor="let _estatusSolicitudPago of estatusSolicitudPago">{{_estatusSolicitudPago.descripcion}}</option>
      </select>
      <span class="invalidText" *ngIf="f.idEstatusSolicitudPago.invalid && f.idEstatusSolicitudPago.touched">
        {{'fmErrSelect' | translate}}
      </span>
    </div>
  </div>  
  <div class="col-12">
  <div class="row" *ngIf="f.idEstatusSolicitudPago.value == 3">
  <div class="col-6">
    <div class="form-group " rel="1">
      <label class="control-label" for="">Forma del pago:</label>
      <select  formControlName="idFormaPago"  class="form-control"  >
        <option hidden value="" disabled  selected>{{'fmOptSelect' | translate}} </option>
        <option  [value]="_formaPago.forma_pago_id" *ngFor="let _formaPago of formaPago">{{_formaPago.descripcion}}</option>
      </select>
      <span class="invalidText" *ngIf="f.idFormaPago.invalid && f.idFormaPago.touched">
        {{'fmErrSelect' | translate}}
      </span>
    </div>
  </div>
  <div class="col-6">
      <div class="form-group">                               
        <label class="control-label" for="beca">Fecha del pago:</label>
        <input formControlName="fechaPago" class="form-control" id="fecha_pago" placeholder="Ingresa la fecha del pago" type="date">
        <span class="invalidText" *ngIf="f.fechaPago.invalid && f.fechaPago.touched">
          {{'fmErrDate' | translate}}
        </span>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">                               
        <label class="control-label" for="observacion">Observación:</label>
        <textarea formControlName="observacion" class="form-control" id="observacion" placeholder="Ingresa observación"></textarea>
        <span class="invalidText" *ngIf="f.observacion.invalid && f.observacion.touched">
          {{'fmErrText' | translate}}
        </span>
      </div>                                                                      
    </div>
    <div class="col-6">
      <div class="form-group">                               
        <label class="control-label" for="montoTotal">Recargo:</label>
        <input formControlName="recargo" class="form-control" id="recargo" placeholder="Ingresa el monto de la beca" type="number"  (change)="aplicaRecargo($event)" >
        <span class="invalidText" *ngIf="f.recargo.invalid && f.recargo.touched">
          {{'fmErrNumber' | translate}}
        </span>
      </div>
    </div>
  </div>
  </div>
  <div class="col-12">
    <div class="form-group">                               
      <label class="control-label" for="montoTotal">Monto total:</label>
      <input formControlName="montoTotal" class="form-control" id="montoTotal" placeholder="Ingresa el monto de la beca" type="number" >
      <span class="invalidText" *ngIf="f.montoTotal.invalid && f.montoTotal.touched">
        {{'fmErrNumber' | translate}}
      </span>
    </div>
  </div>
  </div>
  <div class="col-12">
    <button type="submit" class=" mt-3 btn btn-primary pull-right">{{'fmSave' | translate}}</button>
  </div>
  </form>
  </div>
  
  </div>