<div class="row">
  <div class="col-md-12 mt-3">
    <h4>{{videoconferencia}}</h4>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Nombre del alumno</th>
        <th>Clave del alumno</th>
        <th>Correo electrónico</th>
        <th>Fecha de acceso</th>
      </tr>
      <tr *ngFor="let item of Personas; let i = index">
        <td>{{item.primer_apellido}} {{item.segundo_apellido}} {{item.nombre}}</td>
        <td>{{item.clave_alumno}}</td>
        <td>{{item.email}}</td>
        <td>{{item.fecha_acceso | date: 'dd/MM/yyyy hh:mm a'}}</td>
      </tr>
      <tr *ngIf="!Personas">
        <td colspan="3" class="text-center">No se encontraron alumnos</td>
      </tr>
    </table>
  </div>
</div>