.cuadrado{
    margin: 10px 2.5PX;
    border-radius: 25px;
    padding-bottom: 5PX;
   }

     .icon{
    font-size:100px; 
    color: white;
    padding: 30px;
     }

     .letra{
         color: white;
         text-align: center;
     margin-left: 100px;
     text-align: center;
     }

    .letra.letras{
    font-family: sans-serif;
     font-weight: bold;
   }

   .cursorTarjeta{
    cursor: pointer;
   }
   .blockTarjeta{
    cursor: not-allowed;
   }

   ._hover:hover{
    cursor: pointer;
   }
