@import "src/app/shared/styles/forms.component.scss";

.ajs-message { color: #31708f;  background-color: #d9edf7;  border-color: #31708f; }

.alert-actividad{
    text-align: left;
    padding: 20px;
    background-color: white;
}
.btn-accion{
    float:right;
    top:10px;
    text-align:right;
}

