<!-- <script src="https://www.google.com/recaptcha/api.js?render=6LdFAuIUAAAAAEGnhAqEmxbagK7tQ0ZhSLIBWFpM"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LdFAuIUAAAAAEGnhAqEmxbagK7tQ0ZhSLIBWFpM', {action: 'homepage'}).then(function(token) {
      console.log('si tiene captcha');
    });
});
</script>
 -->

<div [hidden]="plataforma != 'inscribete'" class="contenido" id="particles-js"></div>
<div [@routerTransition]>
    <div class="row" [ngClass]="plataforma == 'inscribete'? 'justify-content-center pt-5': ''">
        <div *ngIf="registroExitoso" 
          [ngClass]="plataforma == 'inscribete'? 'col-lg-5 jumbotron text-center': 'col-12 text-center'">
            <h3 style=" margin-top: 0px;">¡Registro exitoso!</h3>
            <div *ngIf="plataforma == 'inscribete'">
              <p>Enviamos un correo electrónico a la cuenta que registraste en el sistema, en él encontrarás tus datos para entrar al portal. Da clic en el siguiente vínculo para ingresar.</p>
              <br>
              <h4><a [routerLink]="['/inscripcion']" style="text-decoration: underline">Entrar al portal</a> </h4>
            </div>
            <div *ngIf="plataforma == 'asesor' && usuario" class="container border rounded py-5 mt-4">
              <h5><b>Usuario: </b> {{usuario.user}}</h5>
              <h5 class="mt-3"><b>Contraseña: </b> {{usuario.pass}}</h5>
            </div>
        </div>
        <div [ngClass]="plataforma == 'inscribete'? 'col-lg-5 jumbotron': 'col-6'" style="background:  rgba(255, 255, 255);" *ngIf="!registroExitoso">
          <!--<img src="estudy/assets/images/Harvard.png" width="250px">-->
           <div *ngIf="plataforma == 'inscribete'" class="text-center">
             <img [src]="universidad.logo" width="200px">
           </div>
           <div *ngIf="plataforma == 'inscribete'">
            <h3 class="form-signin" style=" margin-top: 0px; color: black; text-align: center;">¡Regístrate!</h3>
            <hr>
           </div>
            
            <form [formGroup]="signupForm" (ngSubmit)="executeImportantAction()">
                <div class="form-group form-content">
                    <div class="form-group">
                      <label class="control-label">Nombre</label>
                        <input type="text"formControlName="nombre" class="form-control input-underline  " placeholder="{{ 'Name' | translate }}">
                        <span class="invalidText" *ngIf="f.nombre.invalid && f.nombre.touched">
                            {{'fmErrName' | translate}}
                        </span>
                    </div>
                    <div class="form-group">
                      <label style="text-align: justify;">Primer apellido</label>
                        <input type="text" formControlName="primer_apellido" class="form-control input-underline  " placeholder="{{ 'Primer apellido' | translate }}">
                        <span class="invalidText" *ngIf="f.primer_apellido.invalid && f.primer_apellido.touched">
                            {{'fmErrText' | translate}}
                        </span>
                    </div>
                    <div class="form-group">
                        <label style="text-align: justify;">Segundo apellido</label>
                        <input type="text" formControlName="segundo_apellido" class="form-control input-underline  " placeholder="{{ 'Segundo apellido' | translate }}">
                        <span class="invalidText" *ngIf="f.segundo_apellido.invalid && f.segundo_apellido.touched">
                            {{'fmErrText' | translate}}
                        </span>
                    </div>
                    <div class="form-group">
                        <label style="text-align: justify;">Correo electrónico</label>
                        <input type="email" formControlName="email" class="form-control input-underline " placeholder="{{ 'Email' | translate }}">
                        <span class="invalidText" *ngIf="f.email.invalid && f.email.touched">
                            {{'fmErrEmail' | translate}}
                        </span>
                    </div>
                    <div class="form-group">
                        <label style="text-align: justify;">Confirmar correo electrónico</label>
                        <input type="email2" formControlName="email2" class="form-control input-underline " placeholder="Confirmar correo electrónico">
                        <span class="invalidText" *ngIf="f.email2.invalid && f.email2.touched">
                            {{'fmErrEmail' | translate}}
                        </span>
                    </div>
                    <div class="form-group">
                        <label style="text-align: justify;">Teléfono</label>
                        <input type="text" formControlName="numero" class="form-control input-underline " pattern="^\d{10}$" placeholder="{{ 'Phone' | translate }}">
                        <span class="invalidText" *ngIf="f.numero.invalid && f.numero.touched">
                            Ingresa los diez digitos de tu número telefónico
                        </span>
                    </div>
                    <!--div class="form-group">
                        <label style="text-align: justify;">CURP</label>
                        <input id="curp" type="text" formControlName="curp" class="form-control input-underline " pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$"
                         placeholder="{{ 'CURP' | translate }}" onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()">
                         <span class="invalidText" *ngIf="f.curp.invalid && f.curp.touched">
                            {{'fmErrCURP' | translate}}
                        </span>
                        <a  href="https://www.gob.mx/curp/" target="_blank" style="font-size: small">¿No tienes tu CURP? Da clic aquí</a>
                    </div-->
                    <!--div class="form-group">
                      <label style="text-align: justify;">Código de promoción</label>
                      <input type="text" formControlName="codPromo" class="form-control input-underline  " placeholder="Código de promoción" (blur)="codPromo()">
                  </div-->
                    <!--div class="form-group">
                        <input formControlName="claveElector" class="form-control input-underline " placeholder="{{ 'ClaveElector' | translate }}">
                        <span class="invalidText" *ngIf="f.claveElector.invalid && f.claveElector.touched">
                            {{'fmErrText' | translate}}
                        </span>
                    </div-->
                    <!--div class="text-center">
                        <p style="color: black;">Selecciona la casilla para aceptar el aviso de privacidad</p>
                        <a href="https://unisant.edu.mx/privacy-policy/"  style="color:#ec1818;" target="_blank">AVISO DE PRIVACIDAD</a>
                    </div-->
                    <!--div  class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="c1" (click)="check()" [checked]="aceptar">
                        <label class="custom-control-label" for="c1"></label>
                    </div><hr style="border-color: #337ab7;"-->
                    <div class="form-group">
                        <label for="exampleFormControlSelect1" style="color: black;">Curso de capacitación de interés</label>
                        <select formControlName="carrera" class="form-control" id="exampleFormControlSelect1">
                            <option hidden value="" disabled  selected>{{'fmOptSelect' | translate}} </option>
                            <option [value]="_carrera.carrera_id" *ngFor="let _carrera of carreras">{{_carrera.carrera}}</option>
                        </select>
                        <span class="invalidText" *ngIf="f.carrera.invalid && f.carrera.touched">
                            {{'fmSelectOption' | translate}}
                        </span>
                      </div>
                </div>
                <!-- <button (click)="executeImportantAction()">Important action</button> -->
                <!-- <re-captcha formControlName="recaptcha" siteKey = "6LdFAuIUAAAAAEGnhAqEmxbagK7tQ0ZhSLIBWFpM"></re-captcha> -->
                <button [disabled]="enviarCorreo" class="btn btn-success btn-lg btn-block btn" type="submit"> <i *ngIf="enviarCorreo" class="fa fa-spin fa-spinner"></i> {{ 'fmSave' | translate }}</button>
                <br><p *ngIf="plataforma == 'inscribete'" style="color: black;">¿Ya tienes cuenta? <a [routerLink]="['/login']"  style="color:#337ab7; text-align: center;">Regresar al inicio</a></p>
                <!--img src="assets/images/aula.jpg" width="40%"-->
              </form>
        </div>
    </div>
</div>


<!--
  <div [@routerTransition]>
  <section class="row eadbox-page">
    <div class="row col-md-12 justify-content-md-center" style="margin-left: 0px;">
      <div class="col-md-5 devise" *ngIf="registroExitoso">
        <h3 class="form-signin" style=" margin-top: 0px;">¡Registro exitoso!</h3>
        <p style="color: #eee">Hemos enviado un correo electrónico a la cuenta que registró en el sistema, en él encontrará sus datos para entrar al portal .
                    Dé clic en el siguiente vínculo para ingresar.
        </p>
        <br>
        <h4 [routerLink]="['/login']" style="color:#5cb85c;text-decoration: underline"> Entrar al portal</h4>
      </div>
      <div class="col-md-5 devise" *ngIf="!registroExitoso">
        <h2 class="title-page" style=" margin-top: 40px; text-align: center;">¡Regístrate!</h2>
        <hr>
        <form [formGroup]="signupForm" (ngSubmit)="enviarDatos()" class="simple_form new_user">
          <div class="form-group form-content">
            <div class="form-group string required user_name">
              <label class="control-label string required" for="user_name">* Nombre</label>
              <div>
                <input class="form-control string required" required="required" aria-required="true" placeholder="{{ 'Name' | translate }}" type="text" formControlName="nombre" name="user[name]" id="user_name" />
                <span class="invalidText" *ngIf="f.nombre.invalid && f.nombre.touched">
                  {{'fmErrName' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group string required user_name">
              <label class="control-label string required" for="user_name">* Primer apellido</label>
              <div>
                <input class="form-control string required" required="required" aria-required="true" placeholder="{{ 'primer apellido' | translate }}" type="text" formControlName="primer_apellido" name="user[primer_apellido]" id="primer_apellido" />
                <span class="invalidText" *ngIf="f.primer_apellido.invalid && f.primer_apellido.touched">
                  {{'fmErrText' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group string required user_name">
              <label class="control-label string required" for="user_name">* Segundo Apellido</label>
              <div>
                <input class="form-control string required" required="required" aria-required="true" placeholder="{{ 'segundo apellido' | translate }}" type="text" formControlName="segundo_apellido" name="user[segundo_apellido]" id="segundo_apellido" />
                <span class="invalidText" *ngIf="f.segundo_apellido.invalid && f.segundo_apellido.touched">
                  {{'fmErrText' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group email required user_email">
              <label class="control-label email required" for="user_email">* Correo electrónico</label>
              <div>
                <input class="form-control string email required" required="required" aria-required="true" placeholder="{{ 'Email' | translate }}" type="email" formControlName="email" name="user[email]" id="user_email" />
                <span class="invalidText" *ngIf="f.email.invalid && f.email.touched">
                  {{'fmErrEmail' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group email required user_email">
              <label class="control-label email required" for="user_email">* Confirmar correo electrónico</label>
              <div>
                <input class="form-control string email required" required="required" aria-required="true" placeholder="Confirmar correo electrónico" type="email2" formControlName="email2" name="user[email]" id="user_email" />
                <span class="invalidText" *ngIf="f.email2.invalid && f.email2.touched">
                  {{'fmErrEmail' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group tel required user_home_phone">
              <label class="control-label tel required" for="user_home_phone">* Teléfono</label>
              <div>
                <input class="form-control string tel required" required="required" aria-required="true" type="text" formControlName="numero" placeholder="{{ 'Phone' | translate }}" name="user[home_phone]" id="user_home_phone" />
                <span class="invalidText" *ngIf="f.numero.invalid && f.numero.touched">
                  {{'fmErrNumber' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group string required user_name">
              <label class="control-label string required" for="user_name">* CURP</label>
              <div>
                <input type="text" formControlName="curp" class="form-control input-underline "pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$"placeholder="{{ 'CURP' | translate }}">
                <span class="invalidText" *ngIf="f.curp.invalid && f.curp.touched">
                  {{'fmErrCURP' | translate}}
                </span>
                <a style="color: antiquewhite;" href="https://www.gob.mx/curp/" target="_blank" style="font-size: small;color: white">¿No tienes tu CURP? Da clic aquí</a>             
                <p class="help-block"></p>
              </div>
            </div>
            <div class="form-group string required user_name">
              <label class="control-label string required" for="user_name">* Clave de elector</label>
              <div>
                <input formControlName="claveElector" class="form-control input-underline " placeholder="{{ 'ClaveElector' | translate }}">
                <span class="invalidText" *ngIf="f.claveElector.invalid && f.claveElector.touched">
                  {{'fmErrText' | translate}}
                </span>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="text-center">
              <a href="https://unisant.edu.mx/privacy-policy/"  style="color:#030303;" target="_blank">AVISO DE PRIVACIDAD</a>
            </div>
            <div>
              <p style="color: cornflowerblue; text-align: center;">Si acepta el aviso de privacidad, seleccione la casilla.</p>
            </div>
            <div  class="form-group custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="c1" (click)="check()" [checked]="aceptar">
              <label class="custom-control-label" for="c1"></label>
            </div>
            <hr>
            <div class="form-group" style="text-align: center;">
              <label for="exampleFormControlSelect1" style="color: cornflowerblue;">Curso de capacitación de interés</label>
              <select formControlName="carrera" class="form-control" id="exampleFormControlSelect1">
                <option hidden value="" disabled  selected>{{'fmOptSelect' | translate}} </option>
                <option [value]="_carrera.carrera_id" *ngFor="let _carrera of carreras">{{_carrera.carrera}}</option>
              </select>
              <span class="invalidText" *ngIf="f.carrera.invalid && f.carrera.touched">
                {{'fmSelectOption' | translate}}
              </span>
            </div>
          </div>
          <button [disabled]="enviarCorreo" class="btn btn-success btn-lg btn-block btn " type="submit">{{ 'fmSave' | translate }}</button>
          <br><p style="color: black; text-align: center;">¿Ya tienes cuenta? <a [routerLink]="['/login']"  style="color:#4b22e0;">Regresar al inicio</a></p>
        </form>
      </div>
    </div>
  </section>
</div>
-->