.time{
    color: rgba(85, 87, 87, 0.479);
    font-size: small;
    margin-top: 7px;
    margin-left: 2px;
}
.usuario{
    color: cornflowerblue
}
.borde {
	border-left: rgb(63, 118, 201) 2px solid;
}
li {
	margin: 0px;
	padding: 0px;	
}
.responder{
    margin-top: 3px;
}

.editar{
    margin-left: 752px;
}
.nombre{
    margin-top: 5px;
}

.btnResp{
    text-align: right;
}

// div{
//     border: 1px solid ;
// }

// @media (min-width: 425px) {
    
//     .mx-4 {
//         margin-left: 0px !important;
//     }
//     .pull-right{
//         float: none
//     }
// }