<div class="row">
    <div class="col-md-12">
        <H4>Horario de Clases</H4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Docente</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miercoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let _horario of horario">
                    <th scope="row ">{{_horario.nombre+" "+_horario.primer_apellido}}</th>
                    <td>{{_horario.asignatura}}</td>
                    <td>{{_horario.nombre_grupo}}</td>
                    <td *ngFor="let _number of [1,2,3,4,5,6]">
                        <span *ngFor="let _horario2 of _horario.horario">
                            <span *ngIf="_number==_horario2.dia">{{_horario2.hora_inicio+" - "+_horario2.hora_fin}}</span>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>