<form [formGroup]="bscLoginForm" (ngSubmit)="loginUser()" >
    <!-- <h1>Ingreso a la plataforma</h1> -->
    <div *ngIf="invalidUser == false" class="alert alert-danger" >
        Usuario y/o contraseña incorrecta.
    </div>
    <div class="form-content">
        <div class="form-group">
            <input formControlName="usuario"   type="text" class="form-control input-underline input-lg" placeholder="Usuario">
        </div>
        <span class="invalidText" *ngIf="f.usuario.invalid && f.usuario.touched">
          Usuario incorrecto
        </span>
        <div class="form-group">
            <input  formControlName="password" type="password" class="form-control input-underline input-lg"  placeholder="Contraseña">
        </div>
        <span class="invalidText" *ngIf="f.password.invalid && f.password.touched">
          Contraseña incorrecta
        </span>
        <!-- <div class="form-group">
                <input formControlName="rol" type="text" class="form-control input-underline input-lg" placeholder="Rol">
        </div>
        <span class="invalidText" *ngIf="f.rol.invalid && f.rol.touched">
              Rol incorrecto
        </span> -->
        <button [disabled]="bscLoginForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit"> Ingresar</button>
    </div>
</form>


