<div class="row">
  <div class="col-md-12">
    <h4>Consulta de retroalimentaciones</h4>
  </div>
  <div class="col-md-12">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-info" [ngClass]="ident == 0 ? 'active':''" (click)="consultaRetros(0)">Todos</button>
      <button type="button" class="btn btn-info" [ngClass]="ident == 1 ? 'active':''" (click)="consultaRetros(1)">Nuevos</button>      
    </div><br><br>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Actividad</th>
          <th>Alumno</th>
          <th>Fecha del último envio</th>
          <th>Número de mensajes</th>
          <th>Ir a la actividad</th>
        </tr>
      </thead>
      <tbody *ngIf="retroalimentaciones">
        <tr *ngFor = "let retro of retroalimentaciones">
          <td>{{retro.actividad}}</td>
          <td>{{retro.alumno.nombre}} {{retro.alumno.primer_apellido}} {{retro.alumno.segundo_apellido}}</td>
          <td class="text-center">{{retro.ultimo_mensaje | date: "dd/MM/yyyy"}} {{retro.ultimo_mensaje |date:"shortTime" }}</td>
          <td class="text-center">{{retro.total_mensajes}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-primary" (click)="nuevoLink(retro.actividad_id, retro.materia_id);"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngIf="!retroalimentaciones">
          <td colspan="20" class="text-center p-3">
            <span>No se encontraron retroalimentaciones</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- [routerLink]="['../editar/'+ciclo.ciclo_id]" -->