<div class="row">
  <div class="col-md-12">
      <form [formGroup]="passForm" (ngSubmit)="enviarPass()">  
        <div class="form-group">
          <label class="control-label">{{'passPerfil' | translate}}</label>
          <input type="password" class="form-control" formControlName="passPerfil" placeholder="{{'passPerfil' | translate}}">
          <span class="invalidText" *ngIf="pf.passPerfil.invalid && pf.passPerfil.touched">
              {{'fmIncorrectPass' | translate}}
          </span>                 
        </div>  
        <div class="form-group">
          <label class="control-label">{{'confirmpassPerfil' | translate}}</label>
          <input (keyup)="confirmPass()" type="password" class="form-control" formControlName="confirmpassPerfil" placeholder="{{'confirmpassPerfil' | translate}}">
          <span class="invalidText" *ngIf="pf.confirmpassPerfil.invalid && pf.confirmpassPerfil.touched || pf.confirmpassPerfil.dirty && !estadoPass">
              {{'incorrectPass' | translate}}
          </span>                 
        </div><br>
        <button type="submit" class="btn btn-primary pull-right">{{'fmSave' | translate}}</button>
      </form> 
    </div>
</div>
