<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h4 class="mb-3">{{title}}</h4>
    <form *ngIf="bandera" [formGroup]="reactivosForm" (ngSubmit)="guardaReactivos()">
      <div class="col-12">
        <div class="row border rounded py-3 bg-light">
          <div class="col-6"><p class="h5"><b>Pregunta</b></p></div>
          <div class="col-3"><p class="h5"><b>Tipo de input</b></p></div>
          <div class="col-3"></div>
        </div>
      </div>
      <div formArrayName="items"
        *ngFor="let item of reactivosForm.get('items').controls; let i = index;">
        <div [formGroupName]="i" class="border rounded p-3">
            <div class="row mb-3">
              <div class="col-6">
                <label> Pregunta {{indices[i] + 1}}:</label>
                <p class="mb-0 pb-0">{{item.get('pregunta').value}}</p>
              </div>
              <div class="col-3">
                <p>{{item.get('nombre_tipo_campo').value}}</p>
              </div>
              <div class="col-3" [hidden]="seleccionados[i]"><button class="btn btn-link" type="button" (click)="setSeleccionado(i)">
                <i class="fa fa-plus"></i> Mostrar reactivos</button>
              </div>
            </div>

            <div formArrayName="reactivos">
              <div *ngFor="let reactivo of item.get('reactivos').controls; let j = index;" [hidden]="!seleccionados[i]">
                <div [formGroupName]="j">
                  <div class="row">
                    <div class="col-6 mb-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">Reactivo {{j+1}}</div>
                        </div>
                        <input formControlName="reactivo_desc" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Descripción del reactivo">
                      </div>
                      <span class="invalidText" *ngIf="reactivo['controls'].reactivo_desc.invalid && reactivo['controls'].reactivo_desc.touched">
                        {{'fmErrText' | translate}}
                      </span>
                    </div>
                    <div class="col-6">
                      <i *ngIf="(item.get('tipo_campo_id').value == '3' && j > 1) || 
                          (item.get('tipo_campo_id').value != '3' && j > 0)" 
                        class="fa fa-times fa-2x text-danger" (click)="deleteReactivo(i,j)"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="seleccionados[i]">
                <div class="col-12">
                  <button class="btn btn-link" type="button" (click)="addReactivo(i)"><i class="fa fa-plus"></i> Agregar reactivo</button>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <button [hidden]="tipoAdmin == 0" class="btn btn-success pull-right" type="submit" [disabled]="reactivosForm.invalid">Guardar información</button>
        </div>
      </div>
    </form>
  </div>
</div>
