<div class="row">
  <div class="col-12">
    
    <div class="container p-4 border rounded" *ngIf="Ticket">
      <div class="card">
        <div class="card-body">
        <h5> {{Ticket.asunto_ticket}}</h5>
        <p>{{Ticket.descripcion_ticket}}</p> 
        </div>
      </div>
      <!-- <div class="py-2" *ngIf="Respuestas">
        <b>Respuestas:</b>
        <div *ngFor="let respuesta of Respuestas">
          <div class="alert alert-secondary" role="alert" *ngIf="respuesta.rol_id == 2">
            <small class="pull-right">{{respuesta.fecha_creacion | date: 'dd/MM/yyyy hh:mm a'}}</small>
            <p class="m-0 p-0">{{respuesta.texto}}</p>
          </div>
          <div class="alert alert-primary" role="alert" *ngIf="respuesta.rol_id == 1">
            <small class="pull-right">{{respuesta.fecha_creacion | date: 'dd/MM/yyyy hh:mm a'}}</small>
            <p class="m-0 p-0">{{respuesta.texto}}</p>
          </div>
        </div>
      </div> -->
      <div class="py-2" *ngIf="Respuestas">
        <b>Respuestas:</b>
        <div *ngFor="let respuesta of Respuestas">
          <div class="alert" [ngClass]="((idRol == 2 || idRol == 4) && respuesta.rol_id == 1)? 
            'alert-secondary': ((idRol == 2 && respuesta.rol_id == 2) || idRol == 4 && respuesta.rol_id == 4)? 'alert-primary' : ''" role="alert">
            <div class="row">
              <div class="col-12 my-0 py-0">
                <small class="m-0 p-0 pull-right">{{respuesta.fecha_creacion | date: 'dd/MM/yyyy hh:mm a'}}</small>
              </div>
              <div class="col-12 my-0 py-0">
                <p class="m-0 p-0">{{respuesta.texto}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <label *ngIf="!responder"><input type="checkbox" [(ngModel)]="responder" [value]="1" >Responder:</label>
      <label *ngIf="responder">Responder:</label>
      <div class="mb-5 pb-1" *ngIf="responder">
        <form [formGroup]="ticketsForm" (ngSubmit)="guardaRespuesta()">
            <div class="form-group">
              
              <textarea formControlName="texto" placeholder="Escribe texto" class="form-control" rows="5"></textarea>
            </div>
            <!--button class="btn btn-warning btn-small"><i class="fa fa-minus-square fa-2x"></i> Cerrar ticket</button-->
            <button type="submit" [disabled]="ticketsForm.invalid" class="btn btn-success pull-right mt-2">Enviar respuesta</button>
        </form>
      </div>
    </div>
  </div>
</div>
