<app-header-learning></app-header-learning>
<app-sidebar-learning  (collapsedEvent)="receiveCollapsed($event)"></app-sidebar-learning>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <div class="row d-print-none" >
        <div  *ngIf="idSituacionAlumno != null && idSituacionAlumno !=1" class="col-md-12 alert alert-danger text-center">
            <p>Estimado alumno, por el momento no puedes acceder a tu plataforma</p>   
            <a [routerLink]="['/learning/tickets/' + ticket.ticket_id]" class="btn btn-danger">Ver observación</a>
        </div>
        <div *ngIf="idSituacionPago == 2 && mostrarHeader" class="col-md-12 alert alert-danger text-center no-print">
            <p >Estimado alumno, Tienes pago<span *ngIf="pagosPendientes != 1">s</span> pendiente<span *ngIf="pagosPendientes != 1">s</span></p>   
            <button [routerLink]="['/learning/pagos']" class="btn btn-info btn-sm ml-3">Ver pagos</button>
        </div>
        <div *ngIf="idSituacionPago == 1 && pagosPendientes > 0 " class="col-md-12 alert alert-warning text-center no-print">
            Estimado alumno, recuerda completar el pago de tu colegiatura antes del día  <b>{{diaCierre}}</b>
            <button [routerLink]="['/learning/pagos']" class="btn btn-warning btn-sm ml-3">Ver mis pagos</button>
        </div>
    </div>
       <!--div  *ngIf="notificacion" class="row">
        <div class="col-md-12">
            <h4>Motivo:</h4>
            <p>{{notificacion.descripcion_ticket}}</p>
        </div>
    </div-->
    
    <app-page-header  [breadcum]="breadcum" ></app-page-header>
    <router-outlet  (activate)="onActivate($event)" ></router-outlet>
</section>