.ico_a {
    //background-color: #13AFDF;
    border-radius: 6px;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
    //padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    margin-top: 4px;
    }
    .ico_a:hover {
    color: red;
    font-size: 20px;
    }