
<form [formGroup]="excelForm" (ngSubmit)="enviarExcel()">
  <div class="row">
  <div class="col-md-6 "><br> 
    <div class="alert alert-info">
      <a href="../../../assets/layout/eStudy.xlsx" class="indicaciones"><i class="fa fa-download"></i> Descargar ejemplo, debes respetar la misma estructura del archivo</a>                      
    </div>
    <div>
        <input type="file" accept=".xlsx"formControlName="excel" name="subirArchivo"><br><br>
        <button [hidden]="tipoAdmin == 0" type="submit" id="boton_subir" class="btn btn-success pull-right" ><i class="fa fa-upload"></i> Procesar documento</button>
    </div>
  </div>
</div>
</form>
<div class="row">
  <div class="col-md-12"><br><br><br>
    <table class="table table-striped table-bordered">
      <tr>
        <th>{{'clavePlanEstudios' | translate}}</th>
        <th>{{'claveCarrera' | translate}}</th>
        <th>{{'claveAsignatura' | translate}}</th>
        <th>{{'nombreAsignatura' | translate}}</th>
        <th>{{'creditosAsignatura' | translate}}</th>
        <th>{{'tipoAsignatura' | translate}}</th>
        <th>{{'gradoAsignatura' | translate}}</th>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </div>
</div>

 