<h4 style="color: #004d80;"> Servicios Digitales de Investigación</h4>
<p style="text-align: justify;">
  Para  {{nombreInstitucion}} es una prioridad poner al alcance de sus alumnos, egresados, docentes 
  e investigadores, las principales fuentes de información en habla hispana. Es por ello que Servicios 
  Digitales de Investigación, reúne las principales bases de datos arbitradas de la región, que brindan 
  a los usuarios acceso gratuito a materiales académicos, artículos de investigación y recursos periodísticos.
</p>
