<div class="row" *ngIf="idRol == 1">
  <div class="col-md-12">
    <app-consulta-asignatura [nivel]="4" [tipo]="'extra-large'" (sucessEvent)="getAsignatura($event)"></app-consulta-asignatura>
    <div class="row mt-3">
      <div class="col-3">
        <label  class="control-label" ><b>5.Selecciona el grupo</b></label>
        <select [(ngModel)]="idAsignaturaGrupo"  class="form-control" id="asignatura_id"  >
          <option hidden value="" selected>Selecciona una opción</option>
          <option  [value]="grupo.asignatura_grupo_id" *ngFor="let grupo of grupos" >{{grupo.nombre_grupo}}</option>
        </select>
      </div>
      <div class="col-3">
        <br>
        <button (click)="consultaSeguimiento()" class="btn btn-success"> Buscar</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="asignaturaGrupo" class="col-12">
    <h6> {{asignaturaGrupo.carrera}} - grupo {{asignaturaGrupo.grupo}} <span class="badge" [ngClass]="{'badge-danger' : asignaturaGrupo.situacion_asignatura_grupo_id == 4, 'badge-warning' : asignaturaGrupo.situacion_asignatura_grupo_id == 3 || asignaturaGrupo.situacion_asignatura_grupo_id == 2,'badge-success' : asignaturaGrupo.situacion_asignatura_grupo_id == 1}">{{asignaturaGrupo.situacion_asignatura_grupo_descripcion}}</span></h6>
    <h4 class="header-estudy" style="width: auto;">{{asignaturaGrupo.asignatura}}</h4>
  </div>
  <div class="col-12">
    <table *ngIf="seguimientos" class="table table-striped table-bordered table-sm">
      <tr>
        <th>#</th>
        <th>Matrícula del alumno</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Inicio del examen</th>
        <th>Preguntas</th>
        <th>respuestas</th>
        <th>Ctrl c</th>
        <th>Ctrl v</th>
        <th>Imprimir pantalla</th>
        <th>Click derecho</th>
        <th class="alert-success">Calificación</th>
        <th >Notas</th>
        <th>Deshabilitar examen</th>
      </tr>
      <!--tr *ngIf="(seguimientos | filter: search).length === 0"-->
      <tr *ngIf="seguimientos.length == 0">
        <td colspan="12" class="text-center">Información no encontrada</td>
      </tr>
      <tr *ngFor=" let seguimiento of seguimientos; let i = index;" >
        <td  >{{i+1}}</td>
        <td  >{{seguimiento.clave_alumno}}</td>
        <td style="font-size: 12px;" >{{seguimiento.email}}</td>
        <td  >{{seguimiento.celular}}</td>
        <td class="text-center">{{seguimiento.inicio_examen  | date: "dd/MM/yyyy hh:mm a"}}</td>
        <td class="text-center">{{seguimiento.total_preguntas}}</td>
        <td class="text-center">{{seguimiento.reactivos_contestados}}</td>
        <td class="text-center">{{seguimiento.control_c}}</td>
        <td class="text-center">{{seguimiento.control_v}}</td>
        <td class="text-center">{{seguimiento.imp_pt}}</td>
        <td class="text-center">{{seguimiento.click_derecho}}</td>
        <td class="text-center" [ngClass]="{'alert-danger': seguimiento.estatus_actividad_id == 6}" >
          <span *ngIf="seguimiento.estatus_actividad_id == 6"><i class="fa fa-times"></i></span>
          <span *ngIf="seguimiento.estatus_actividad_id != 6">{{seguimiento.calificacion}}</span>
        </td>
        <td class="text-center align-middle">
          <a type="button" class="btn btn-primary" [routerLink]="['/docente/notas/'+seguimiento.materia_id]" ><i class="fa fa-sticky-note-o"></i></a>
        </td>
        <td class="text-center">
          <button *ngIf="seguimiento.materia_fecha_actividad_id" class="btn btn-danger" (click)="deshabilita(seguimiento.materia_fecha_actividad_id, seguimiento.persona_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
        </td>
      </tr>
    </table>
  </div>
</div>
    