<div class="row">
  <div class="col-md-12">
    <h4>Encuestas</h4><br>
    <button class="btn btn-success" routerLink="../nuevo"><i class="fa fa-plus"></i> Agregar encuesta</button>
  
    
    <div class="table-responsive mt-3">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>Nombre de la encuesta</th>
            <th>Instrucción de la encuesta</th>
            <th>Estadísticas</th>
            <th>Cambiar dirección</th>
            <th [hidden]="tipoAdmin == 0">Eliminar</th>
            <!-- <th>Estatus</th>
            <th>Inicio/fin</th>
            <th>Contraseña</th>
            <th>Tipo acceso</th>
            <th>Registro</th>
            <th></th>
            <th></th>
            <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let encuesta of Encuestas; let i = index;">
            <td>{{encuesta.titulo}}</td>
            <td>{{encuesta.instruccion}}</td>
            <!-- <td>Activo</td>
            <td>01/Mayo/2019 <hr> 30/junio/2019</td> -->
            <!-- <td>Si</td>
            <td>todos</td>
            <td>01/Marzo/2019</td> -->
            <td class="text-center"><button class="btn btn-warning" [routerLink]="['../estadisticas/'+ encuesta.encuesta_id]"><i class="fa fa-bar-chart"></i></button></td>
            <td class="text-center"><button class="btn btn-info" [routerLink]="['../editar/'+ encuesta.encuesta_id+'/'+encuesta.switch_encuesta_id]"><i class="fa fa-pencil"></i></button></td>
            <td [hidden]="tipoAdmin == 0"><button class="btn btn-danger" (click)="elimina(encuesta.encuesta_id, i)"><i class="fa fa-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>