<div class="row">
  <div class="col-md-8">
    <form [formGroup]="transferForm" (ngSubmit)="enviarInformacion()">
      <div class="form-group " rel="1" [hidden]="f.nuevoCiclo.value">
        <label class="control-label" for="">¿Cuál es el ciclo al que deseas transferir la nueva información?</label>
        <select formControlName="ciclo" class="form-control">
          <option hidden value="" disabled selected>Selecciona una opción </option>
          <option [value]="ciclo.ciclo_id" *ngFor="let ciclo of ciclos">{{ciclo.ciclo_desc}}</option>
        </select>
        <span class="invalidText" *ngIf="f.ciclo.invalid && f.ciclo.touched">
          {{'fmErrSelect' | translate}}
        </span>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input formControlName="nuevoCiclo" type="checkbox" class="custom-control-input" id="nuevoCiclo" (click)="cambiaValid()">
          <label class="custom-control-label" for="nuevoCiclo">Crear nuevo ciclo</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="numMaterias">Máximo de materias reprobadas por alumno para subir al siguiente grado</label>
        <input formControlName="numMaterias" class="form-control" id="numMaterias" placeholder="" type="number" required>
        <span class="invalidText" *ngIf="f.numMaterias.invalid && f.numMaterias.touched">
          Ingresa el número máximo de materias
        </span>
      </div>
      <div>
        <div class="custom-control custom-checkbox">
          <input formControlName="docGrupo" type="checkbox" class="custom-control-input" id="docGrupo">
          <label class="custom-control-label" for="docGrupo">¿Agregar los docentes automáticamente al grupo con base a las asignaturas del ciclo pasado?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input formControlName="reprobados" type="checkbox" class="custom-control-input" id="reprobados">
          <label class="custom-control-label" for="reprobados">¿Agregar a los alumnos que no aprobaron el ciclo al mismo grado?</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input formControlName="recursadores" type="checkbox" class="custom-control-input" id="recursadores">
          <label class="custom-control-label" for="recursadores">Para alumnos que reprobaron menos de {{f.numMaterias.value}} materias. ¿Agregar a su respectiva asignatura de recursamiento?</label>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Transferir ciclo</button>
      </div>
    </form>
  </div>
</div>