    <div *ngIf="asignatura" class="row my-3">
      <div    class="col-md-5" >
        <h4 >{{asignatura.asignatura}}
          <br><small>Asignatura</small>
        </h4>
      </div> 
      <div class="col-md-7"> 
          <div  *ngIf="verMenu && identity.rol_id == 1" class="btn-group pull-right" role="group" aria-label="Basic example">
            <button [routerLink]="['/admin/carga']" class="btn btn-outline-primary">
              <h4><i class="fa fa-home"></i></h4>
              <p><small>Selección</small></p>
            </button>
            <button [routerLink]="[opcion.url]" *ngFor="let opcion of privilegiosContenido"  class="btn btn-outline-primary" [routerLinkActive]="'active'">
              <h4><i class="fa {{opcion.icono}}"></i></h4>
              <p><small>{{opcion.opcion}}</small></p>
            </button>
            <button class="btn btn-outline-primary" (click)="vistaPrevia()">
              <h4><i class="fa fa-eye"></i></h4>
              <p><small>Vista previa</small></p>
            </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>