@import "../../../app.component.scss";

.titulo-ejercicio{
    border-left: 10px solid $school-color;
    margin: 10px 0px;
    padding-left: 10px; 

    b{
        color: $school-color;
    }
    small{
        color: $school-color;
    }
}
.cuadro-ponderacion{
    background-color: $school-color;
    color:white;
}

.preg{
    margin-left: -15px;
}

.epdf{
    //border: 2px solid rgb(138, 207, 219); 
    //box-shadow: inset 0 0 15px 0 rgb(138, 207, 219); 
    width: 400px; 
    height: 150px;
}


.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}

