<div class="row">
  <div class="col-12">
    <h4>{{title}}</h4>
    <a [routerLink]="['../nuevo']" class="btn btn-success"><i class="fa fa-plus"></i> Nueva rúbrica</a>
    <hr>
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{'SearchInput' | translate}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>{{ '_nombreRubrica' | translate }}</th>
            <th [hidden]="tipoAdmin == 0">{{ 'Edit' | translate }}</th> 
            <th [hidden]="tipoAdmin == 0">{{ 'Erase' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="(Rubricas | filter: search).length === 0">
            <td colspan="12" class="text-center">{{'trNotFound' | translate}}</td>
          </tr>  
          <tr *ngFor="let rubrica of Rubricas | filter:search; let i = index;">
            <td>{{ rubrica.desc_rubrica }}</td>
            <td [hidden]="tipoAdmin == 0"><a [routerLink]="['../editar/'+rubrica.rubrica_id]" class="btn btn-info"><i class="fa fa-pencil"></i></a></td>
            <td [hidden]="tipoAdmin == 0"><button (click)="eliminarRubrica(rubrica.rubrica_id, i)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>      
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
