<div class="row">
    <div class="col-12">
        <h4>{{title}}</h4>
        <div>
            <a [routerLink]="['/admin/facturacion/vinculacion/nuevo']" class="btn btn-success m-3"><i class="fa fa-plus"></i> Nueva razon social</a>
        </div>
    </div>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre Comercial</th>
                    <th scope="col">Nombre Legal</th>
                    <th scope="col">Regimen Fiscal</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="organizaciones.length == 0">
                    <td colspan="12" class="text-center">{{'trNotFound' | translate}}</td>
                </tr>
                <tr *ngFor="let organizacion of organizaciones let i = index">
                    <td>{{organizacion.legal.name}}</td>
                    <td>{{organizacion.legal.legal_name}}</td>
                    <td>{{organizacion.legal.tax_system}}</td>
                    <td><a [routerLink]="['../edita/']" class="btn btn-info"><i class="fa fa-pencil"></i></a></td>
                    <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>