<div class="row">
  <div class="col-md-12">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" [ngClass]="tipo == 1 ? 'active':''" (click)="consultaAvisos(1)"
        class="btn btn-info">Activos</button>
      <button type="button" [ngClass]="tipo == 2 ? 'active':''" (click)="consultaAvisos(2)"
        class="btn btn-info">Inactivos</button>
      <button [routerLink]="['../nuevo']" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo aviso</button>
    </div>
  </div><br><br>
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Titulo de aviso</th>
        <th>Prioridad</th>
        <th>Fecha inicio</th>
        <th>Fecha cierre</th>
        <th>Archivo adjunto</th>
        <th [hidden]="tipoAdmin == 0">Edita</th>
        <th>Cambia dirección</th>
        <th [hidden]="tipoAdmin == 0">Elimina</th>
      </tr>
      <tr *ngFor="let aviso of avisos; let i = index">
        <td>{{aviso.titulo}}</td>
        <td>{{aviso.importancia}}</td>
        <td class="text-center">{{aviso.fecha_inicio | date: "dd/MM/yyyy"}}</td>
        <td class="text-center">{{aviso.fecha_fin | date: "dd/MM/yyyy"}}</td>
        <td class="text-center">
          <app-archivo class="archivo" *ngIf="aviso.adjunto" [urlBase]="aviso.adjunto"></app-archivo>
        </td>
        <td class="text-center" [hidden]="tipoAdmin == 0"><a [routerLink]="['../editar/'+aviso.aviso_id]"
            class="btn btn-info"><i class="fa fa-pencil"></i></a></td>
        <td class="text-center"><a [routerLink]="['../switch/'+aviso.aviso_id]" class="btn btn-info"><i
              class="fa fa-arrow-up" aria-hidden="true"></i></a></td>
        <td class="text-center" [hidden]="tipoAdmin == 0"><button (click)="eliminar(aviso.aviso_id, i)"
            class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
      </tr>
      <tr *ngIf="!avisos">
        <td colspan="9" class="text-center">No se encontró información</td>
      </tr>
    </table>
  </div>
</div>