.pago{
    td{
        font-size: 18px;
    }
}

@media print {
    .container{
        margin: 0px !important;
        padding: 0px !important;
    }

    .codigo_promocion{
        visibility: hidden;
    }
    .tipoPago{
        visibility: hidden;
    }
    .pago{
        margin-top: -30%;
    }
}