.subprivilegio{
    cursor:pointer;
    
}
.subprivilegio:hover{
    border: 2px;
    background: #e6e6e6;
}

.privilegio{
    cursor: pointer;
    
}
.privilegio:hover{
    border:2px;
    background: #0772dd;
}
.privilegio{
    padding: 26px;
}


