<section class="example-container">
    <!--header>
      <h2>Paso {{ selectedIndex + 1 }}/{{ steps.length }}</h2>
    </header-->
    <button
        class="example-step"
        *ngFor="let step of steps; let i = index"
        [ngClass]="{ 'example-active': selectedIndex === i }"
        (click)="onClick(i)"
        [disabled] = "buttons[i]"
      >
        Paso {{ i + 1 }} {{datos.titulo[i]}}
      </button>
  
    <div class="step-container" [style.display]="selected ? 'block' : 'none'">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>

  </section>
  