@import "../../shared/styles/forms.component.scss";

.plan-container{
    margin:20px;
    padding:20px;
    border:2px solid black ;
}

.orden_jerarquico{
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-orden-jerarquico{
    .fa-accion{
        display: none;
        position: absolute;
        font-size: 18px;
        margin: 5px;
        :hover > & {
            display: inline;   
        }        
    }
    .fa-edita{
        left:0px;
    }
    .fa-elimina{
        right:0px;
    }
}

.card-asignatura{
    //background-color: #949494;
    //border-color: #949494;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 12px;
    height: 100px;
    text-align: center;
    cursor: default;;
    
    .fa-accion{
        display: none;
        position: absolute;
        font-size: 18px;
        margin: 5px;
        :hover > & {
            display: inline;   
        }        
    }
    .fa-edita{
        left:0px;
    }
    .fa-elimina{
        right:0px;
    }
}
.card-asignatura:hover{
    background-color: #007bff;
    border-color: #007bff;
}


.orden_jerarquico.nuevo{
    border: 2px dashed black;
}
.card-asignatura.nuevo{
    border: 2px dashed black;
}
