<div *ngIf="!registroExitoso" class="col col-xl-12 col-lg-12">
  <form *ngIf="usuarioForm" [formGroup]="usuarioForm" (ngSubmit)="enviarInformacion()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{'nombreUsuario' | translate}}(*)</label>
          <input formControlName="nombreUsuario" class="form-control" placeholder="{{'nombreUsuario' | translate}}"
            type="text" required autocomplete="off">
          <span class="invalidText" *ngIf="f.nombreUsuario.invalid && f.nombreUsuario.touched">
            {{'fmErrText' | translate}}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'apPatUsuario' | translate}}(*)</label>
          <input formControlName="apPatUsuario" class="form-control" placeholder="{{'apPatUsuario' | translate}}"
            type="text" required autocomplete="off">
          <span class="invalidText" *ngIf="f.apPatUsuario.invalid && f.apPatUsuario.touched">
            {{'fmErrText' | translate}}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'apMatUsuario' | translate}}</label>
          <input formControlName="apMatUsuario" class="form-control" placeholder="{{'apMatUsuario' | translate}}"
            type="text" autocomplete="off">
          <span class="invalidText" *ngIf="f.apMatUsuario.invalid && f.apMatUsuario.touched">
            {{'fmErrText' | translate}}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'sexoUsuario' | translate}}</label><br>
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="sexoUsuario" type="radio" id="hombre" name="sexoUsuario"
              class="custom-control-input" value="1">
            <label class="custom-control-label text-dark" for="hombre">Hombre</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input formControlName="sexoUsuario" type="radio" id="mujer" name="sexoUsuario" class="custom-control-input"
              value="2">
            <label class="custom-control-label text-dark" for="mujer">Mujer</label>
          </div>
          <br>
          <span class="invalidText" *ngIf="f.sexoUsuario.invalid && f.sexoUsuario.touched">
            {{'fmOptSelect' | translate}}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'celular' | translate}}</label>
          <input formControlName="celular" class="form-control" placeholder="{{'celular' | translate}}" type="text"
            autocomplete="off">
          <span class="invalidText" *ngIf="f.celular.invalid && f.celular.touched">
            {{'fmErrText' | translate}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{'correoUsuario' | translate}}(*)</label>
          <input formControlName="correoUsuario" class="form-control" placeholder="{{'correoUsuario' | translate}}"
            type="email" required autocomplete="off">
          <span class="invalidText" *ngIf="f.correoUsuario.invalid && f.correoUsuario.touched && !errCorreo">
            {{'fmErrEmail' | translate}}
          </span>
          <span class="invalidText" *ngIf="errCorreo">
            Ingresa un correo diferente
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'rfcUsuario' | translate}}</label>
          <input type="text" class="form-control" formControlName="rfcUsuario"
            placeholder="{{'rfcUsuario' | translate}}">
          <span class="invalidText" *ngIf="f.rfcUsuario.invalid && f.rfcUsuario.touched">
            {{'fmErrRFC' | translate}}
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'curpUsuario' | translate}}</label>
          <input id="curp" type="text" autocomplete="new-password"
            onKeyUp="document.getElementById(this.id).value=document.getElementById(this.id).value.toUpperCase()" [class.ng-invalid]="errCURP" class="form-control" formControlName="curpUsuario" placeholder="{{'curpUsuario' | translate}}">
          <span class="invalidText" *ngIf="f.curpUsuario.invalid && f.curpUsuario.touched && !errCURP">
            {{'fmErrCURP' | translate}}
          </span>
          <span class="invalidText" *ngIf="errCURP">
            Ingresa una CURP diferente
          </span>
        </div>
        <div class="form-group">
          <label class="control-label">{{'fnUsuario' | translate}}</label>
          <input type="date" class="form-control" formControlName="fnUsuario" placeholder="{{'fnUsuario' | translate}}">
          <span class="invalidText" *ngIf="f.fnUsuario.invalid && f.fnUsuario.touched">
            {{'fmErrDate' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-3">
        <label><input type="checkbox" id ="ckeck" (click)="enviaCorreo();" >¿Deseas enviarle un correo al usuario con sus credenciales? </label>
      </div>
      <div class="col-md-12">
        <br>
        <label><input type="checkbox" formControlName="forceUser"> Agregar usuario y contraseña manualmente</label>
      </div>
    </div><hr>
    <div class="row" [hidden]="!f.forceUser.value"> <!--Form #####-->
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{'usuarioOpcional' | translate}} </label>
          <input formControlName="usuario" class="form-control" placeholder="{{'usuario' | translate}}" type="text" autocomplete="new-password">
          <span class="invalidText" *ngIf="f.usuario.invalid && f.usuario.touched && !errUser">
            {{'fmIncorrectUser' | translate}}
          </span>
          <span class="invalidText" *ngIf="errUser">
            Ingresa un nombre de usuario diferente
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{'passUsuario' | translate}}</label>
          <input formControlName="passUsuario" class="form-control" placeholder="{{'passUsuario' | translate}}" type="password" autocomplete="new-password">
          <span class="invalidText" *ngIf="f.passUsuario.invalid && f.passUsuario.touched">
            {{'fmIncorrectPass' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-2">
          <label class="control-label">Rol</label>
          <select formControlName="catRoles" class="form-control" (change)="cambiaValidacion(f.catRoles.value)">
            <option hidden value="" disabled selected>{{'fmOptSelect' | translate}} </option>
            <option [value]="rol.rol_id" *ngFor="let rol of roles">{{rol.rol}}</option>
          </select>
          <span class="invalidText" *ngIf="f.catRoles.invalid && f.catRoles.touched">
            {{'fmErrSelect' | translate}}
          </span>
        </div>
        <div [hidden]="f.catRoles.value != 3 && f.catRoles.value != 2">
          <label><input type="checkbox" formControlName="muestraClave"> 
            ¿Deseas agregar la 
            <label *ngIf="f.catRoles.value == 2" class="control-label">matrícula</label>
            <label *ngIf="f.catRoles.value == 3" class="control-label">clave</label>
            manualmente ?
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div [hidden]="(f.catRoles.valid && f.catRoles.value == 1)  || !f.muestraClave.value" class="col-md-12">
        <label *ngIf="f.catRoles.value == 2" class="control-label">{{'matrícula' | translate}}</label>
        <label *ngIf="f.catRoles.value != 2" class="control-label">{{'clave' | translate}}</label>
        <input formControlName="clave" class="form-control">
      </div>
    </div>
    <div [hidden]="f.catRoles.invalid || f.catRoles.value != 4" class="row"> <!--Nuevo select de carrera aspirante-->
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Carrera(*)</label>
          <select formControlName="catCarreraAspirante" class="form-control">
            <option hidden value="" disabled selected>{{'fmOptSelect' | translate}} </option>
            <option [value]="carrera.carrera_id" *ngFor="let carrera of carreras">{{carrera.carrera}}</option>
          </select>
          <span class="invalidText" *ngIf="f.catArea.invalid && f.catArea.touched">
            {{'fmErrSelect' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="f.catRoles.value != 1">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">{{'TypeRol' | translate}}</label>
          <select formControlName="catArea" class="form-control">
            <option hidden value="" disabled selected>{{'fmOptSelect' | translate}} </option>
            <option [value]="area.area_id" *ngFor="let area of areas">{{area.area_nombre}}</option>
          </select>
          <span class="invalidText" *ngIf="f.catArea.invalid && f.catArea.touched">
            {{'fmErrSelect' | translate}}
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Tipo de consulta</label>
          <select formControlName="tipoConsulta" class="form-control">
            <option hidden value="" disabled selected>{{'fmOptSelect' | translate}} </option>
            <option [value]="1">Consulta</option>
            <option [value]="2">Consulta y edición</option>
          </select>
          <span class="invalidText" *ngIf="f.tipoConsulta.invalid && f.tipoConsulta.touched">
            {{'fmErrSelect' | translate}}
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="f.catRoles.value == 2">
      <app-consulta-asignatura [tipo]="'small'" [parentForm]="usuarioForm" [nivel]="3"></app-consulta-asignatura>
    </div>
    <div class="row" *ngIf="f.catRoles.value == 2">
      <div class="col-12">
        <label><input type="checkbox" formControlName="campusUs">¿Deseas agregar a campus?</label>
      </div>
      <div class="col-12" [hidden]="!f.campusUs.value" rel="1">
        <label class="control-label" for="">Campus</label>
        <select formControlName="campus" class="form-control">
          <option hidden value="" disabled selected>{{'fmOptSelect' | translate}} </option>
          <option [value]="_campus.campus_id" *ngFor="let _campus of campus">{{_campus.campus}}</option>
        </select>
        <span class="invalidText" *ngIf="f.campus.invalid && f.campus.touched">
          {{'fmErrSelect' | translate}}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <button [hidden]="tipoAdmin == 0" [disabled]="buttonDisabled || loading" type="submit"
          class="btn btn-success pull-right"><i *ngIf="loading" class="fa fa-spin fa-spinner"></i> {{'fmSave' | translate}}</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="registroExitoso" class="col col-xl-12 col-lg-12">
  <div class="alert alert-success text-center">
    <h1><i class="fa fa-check"></i></h1>
    <h3>Registro exitoso</h3>
    <p>Se ha creado el usuario exitosamente, estas son las credenciales</p>
    <h5>
      Usuario: {{usuario}}
    </h5>
    <h5>
      Contraseña: {{password}}
    </h5>

    <br>
    <button class="btn btn-success" (click)="redireccion()">Continuar</button>



  </div>

</div>