<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <app-encabezado-persona [idPersona]="id_persona" [idRol]="id_rol"></app-encabezado-persona>
    </div>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Dispositivo</th>
        <th>Fecha entrada</th>
        <th>Fecha de salida</th>
        <th>IP</th>
        <th>Navegador</th>
      </tr>
      <tr class="text-center" *ngFor=" let acceso of accesos">
        <td>{{acceso.dispositivo}}</td>
        <td>{{acceso.fecha_inicio | date:"dd/MM/yyyy"}} {{acceso.fecha_inicio | date:"shortTime"}}</td>
        <td *ngIf="acceso.fecha_fin">{{acceso.fecha_fin | date:"dd/MM/yyyy"}} {{acceso.fecha_fin | date:"shortTime"}}</td>
        <td *ngIf="!acceso.fecha_fin"></td>
        <td>{{acceso.ip}}</td>
        <td>{{acceso.navegador}}</td>
      </tr>
    </table>
  </div>
</div>